:root {
    --backcloth: #000000;
    --background: #0A000C;

    --text: #f4f4f4;
    --text-accent: #ffffff;

    --primary: #561498;
    --primary-rgb: 86, 20, 152;
    --secondary: #bf3ba3;

    z-index: 2;
}

:root[data-theme="light"] {
    --backcloth: #ffffff;
    --background: #f4f4f4;

    --text: #0A000C;
    --text-accent: #000000;
}

::-moz-selection {
    /* Code for Firefox */
    background: var(--secondary);
}

::selection {
    background: var(--secondary);
}

:root[data-theme="light"] ::-moz-selection { color: var(--backcloth) }
:root[data-theme="light"] ::selection { color: var(--backcloth) }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    color: var(--text);

    height: 100vh;
    width: 100vw;

    background: var(--backcloth);
    background: radial-gradient(circle, var(--primary) 0%, var(--backcloth) 100%);


    :root[data-theme="light"] & {
        background: radial-gradient(circle, var(--backcloth) 10%, var(--primary) 100%);
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}