.input {
    width: 100%;
    height: 2em;

    color: var(--text);
    background: rgba(var(--secondary-rgb), 0.15);

    outline: none;
    border: none;

    &:active, &:focus {
        outline: solid;
        outline-color: var(--secondary);
    }

    border-radius: 10px;

    padding: 10px;

    font-family: inherit;

    &::placeholder {
        color: var(--text);
        opacity: 0.5;
    }
}
