@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.dropdown {
    white-space: nowrap;

    &[data-align="right"] {
        text-align: right;
    }

    &_current {
        cursor: pointer;
        transition: 0.1s;


        &:hover {
            filter: drop-shadow(0 0 1px var(--secondary));
            svg {
                filter: drop-shadow(0 0 1px var(--secondary));
            }
        }
    }

    &[data-is-open="true"] &_current {
        opacity: 0.5;
        cursor: default;
    }

    &[data-is-open="true"] &_current svg {
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }

    &_options_wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.2s ease-out;

    }

    &[data-align="right"] &_options_wrapper {
        justify-content: end;
    }

    &[data-is-open="true"] &_options_wrapper {
        grid-template-rows: 1fr;
    }

    &_options {
        overflow: hidden;
    }

    &_option {
        cursor: pointer;

        transition: 0.15s;

        &:hover {
            color: var(--secondary)
        }
    }
}